header{
width:70%;
margin-left: auto;
margin-right: auto;
text-align:center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: whitesmoke;

}
.p1{
    text-align: center;
    font-size:30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article{
width:50%;
margin-left: auto;
margin-right: auto;
text-align:justify;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer{
    width:70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div{
    text-align: center;
}
img{
    width:70%;
    height:auto;

}

